body {
    height: 5000px;
    background: linear-gradient(#E5D9B6, #A4BE7B, #5F8D4E, #285430);
}

.box {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    margin: 200px auto;
    position: relative;
}



.item1 {
    background-color: cadetblue;
    position: absolute;
    top: 10px;
    right: 10px;
}

.item2 {
    background-color: coral;
    /* position: absolute;
    top: 0;
    right: 0; */
}

.item3 {
    background-color: yellow;
    position: fixed;
    top: 0px;
    right: 0px;
    border: 5px solid black;
    outline: 5px solid red;
    outline-offset: 5px;
    box-sizing: border-box;

}


.item1,
.item2,
.item3 {
    width: 150px;
    height: 150px;
}